html {
  min-height: 100%;
}

html,
body,
#root {
  display: flex;
  flex: 1;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 30px !important;
}
